*{
	/*border:1px solid yellow;*/
	transition: all 0.8s;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
}
h1{ 
	color:white;
	text-align: center;
	background-color: #6699ff;
	margin:  0 ;
	padding:0.3em 0;
	letter-spacing: 1px;

}
body{
	background-color:rgb(20, 20, 20);
	margin : 0 auto ;
	font-family: 'Lato', sans-serif;
}

.button{
	width:10em;
	height:10em;
	margin:0.4em;
	border-radius:10%;
	float:left;
	border:0px;

}
#divbtn{	
	margin :0 auto;
	max-width : 600px;
}

p{
  font-size: 1.8em;
  line-height: 0.1;
}
#menu{
	background-color: white;
	text-transform: uppercase;
	list-style-type: none;
	margin-top:0;
	padding:0;
	text-align: center;
}
#menu li{
	display:inline-block;
	padding:0.3em;
	margin-right: 0.3em;
	letter-spacing: 1px;
	font-size: inherit;

}
#new:hover{
	background-color: #6699ff;
	color:white;
}
#easy:hover{
	background-color: #6699ff;
	color:white;
}
#hard:hover{
	background-color: #6699ff;
	color:white;
}
#msg{
	width:30%;
	color:red;
}

.over{
	background-color: #6699ff;
	color:white;
}

